<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script>	
		alert(window.navigator.userAgent);
	</script>		
<h1>Your Ip Address : <span class="ip"></span></h1>
 
<script type="text/javascript">
    $(document).ready(function() {
      $.getJSON("<a class="vglnk" href="https://api.ipify.org/?format=json" rel="nofollow"><span>https</span><span>://</span><span>api</span><span>.</span><span>ipify</span><span>.</span><span>org</span><span>/?</span><span>format</span><span>=</span><span>json</span></a>", function(e) {
        $('.ip').text(e.ip);
      });
    });
</script>
</head>

<body>
	
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal"></p>
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="{% url 'home' %}">Главная</a>
        <a class="p-2 text-dark" href="{% url 'about' %}">about</a>
    </nav>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>

</html>
